<div class="container">
  <div class="row mt-5">
    
          <div class="col-md-4">
            <img src="{{data.avatar_url}}"  alt="" height="200" width="200" >
          </div>
          <div class="col-md-6">
            <ul>
              <li>Name: {{data.name}}</li>
              <li>Company: {{data.company}}</li>
              <li>Location: {{data.location}}</li>
              <li>Email: {{data.email}}</li>
              <li>Twitter UserName: {{data.twitter_username}}</li>
              <li>Public Repos : {{data.public_repos}}</li>
              <li>Public Gists : {{data.public_gists}}</li>
              <li>Followers : {{data.followers}}</li>
              <li>Following : {{data.following}}</li>
            </ul>
          </div>
      
        
  </div>
 
</div>